html, body, #root, #root > [data-reactroot] {
  height: 100%;
  margin: 0;
}

.login {
	background-image: url('../assets/images/polygon_pattern.jpg');
  height: 100vh;
}

.App {
  height: 100%;
  text-align: center;
  background-image: url('../assets/images/bg.jpg');
  background-size:  100% 100%;
}

#cardSize{
  width:22% !important;
}

body {
  background-color: #80808085;
  height: 100vh;
}


/*.login_wrapper {
	width: 30%;
	margin: auto;
}*/

.circleDot {
  display: inline-flex;
  border-radius: 50%;
  height: 10px;
  width: 10px;
  margin: 5px;
}

.pusher {
  /* margin-top: -5%; */
}

.img {

    width: 95%;
    padding: 15px;
    margin-left: 7px;
    margin-top: 10px;
    height: 143px;
}

.navbar {
	background-color: #080c0e !important;
}

/*.footer {
	background-color: #000000ba !important;
}
*/
.input-field {
  margin-top: 3%;
}

#cnf-btn {
  margin-top: 10%;
}

.Tools_wrapper {
  margin-left: -12%;
  margin-top: -7%;
  padding: 10%;
  width: 115%;

}

.continueBtn {
  margin-left: 40%;
  margin-top: 2%;
}

#btn {
  width: 200% !important;
  /*background-color: #000000ba !important;*/
}

.grid-columns {
  margin-left: 0.5rem !important;
  margin-right: 0.5rem !important;
}

.raised-card {
  width: 90% !important;
  margin-bottom: 20% !important;
  height: 125px;
  cursor: pointer;
  border-style: outset;
}

.raised-card1 {
  width: 50% !important;
  margin-bottom: 10% !important;
  height: 170px;
  cursor: pointer;
  border-style: outset;
}

.drawer div {
  background-color: #000000ba !important;
}

.title {

}
.card-media1{
  padding: 7%;
}
.card-media {
  padding: 7%;
}
.card-selected-media{
  box-shadow: 2px 2px 9px 2px green;
}

.circleDot {
  display: inline-flex;
  border-radius: 50%;
  height: 10px;
  width: 10px;
  margin: 5px;
}


.media-text {
  font-size: 16px;
}

.dropingArea {
  width: 540px;
  height: 150px;
}

/* added by arun for cards */
.card {
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.3);
  border: none;
  margin: 10px !important;
  width: 250px;
}

.card-01 .card-body {
  position: relative;
  padding-top: 40px;
}

.card-01.height-fix {
  height: 455px;
  overflow: hidden;
}

.profile-box {
  background-size: cover;
  float: left;
  width: 100%;
  text-align: center;
  padding: 30px 0;
  position: relative;
  overflow: hidden;
}

.profile-box img {
  width: 170px;
  height: 170px;
  position: relative;
  border: 5px solid #fff;
}

.rounded-circle {
  border-radius: 50%;
}
.card-title {
  text-align: center;
  font-weight: bold;
}
.card-text {
  text-align: center;
  padding: 5px;
  padding-bottom: 10px;
}
.clickCursor {
  cursor: pointer;
}
.cardDesign {
  background-color: white;
  border-radius: 2px;
}
.nameDesign {
  font-size:22px;
  padding-bottom:10px;
  text-transform: capitalize;
}
